page-landing {
    .full-color {
        background-color: color($colors, primary);
    }

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .content-wrapper {
        position: relative;
        width: 90%;
        height: 100%;
        margin: auto;
    }

    .btn {
        background-color: transparent;
        color: color($colors, light);
        border-color: color($colors, light);
        transition: all 0.1s;
        width: 250px;
        margin: 15px auto;
        display: block;
        height: 55px;
    }

    .btn:active {
        background-color: color($colors, light) !important;
        color: color($colors, primary) !important;
        transition: all 0.2s;
    }

    .bare-btn {
        background-color: color($colors, light);
        color: color($colors, primary);
        border-color: color($colors, light);
    }

    .bare-btn:active {
        background-color: transparent !important;
        color: color($colors, light) !important;
        border-color: color($colors, light);
        transition: all 0.2s;
    }

    #buttons {
        position: absolute;
        bottom: 100px;
        left: 50%;
        width: 95%;
        transform: translateX(-50%);
    }
}