<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content [ngClass]="contentClass" on-release="enableVerticalScroll()">
  <div id="image-viewer">
    <ion-slides (ionSlideDrag)="disableVerticalScroll()" (ionSlideNextEnd)="enableVerticalScroll()" (ionSlidePrevEnd)="enableVerticalScroll()"
      (ionSlideTap)="enableVerticalScroll()" loop pager resistance="false">
      <ng-container *ngFor="let key of objectKeys(offer.pictures)">
        <ion-slide *ngIf="key !== 'sentinel'">
          <img class="offer-image" src="{{ offer.pictures[key] }}" />
        </ion-slide>
      </ng-container>
    </ion-slides>
  </div>

  <div id="body-content">
    <div id="offer-name">
      <h1>{{ offer.name }}</h1>
    </div>

    <div id="seller-info">
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <p>{{ offer.seller }}</p>
          </ion-col>

          <ion-col col-4>
            <p>{{ priceToString(offer.price) }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div id="offer-details">
      <p>{{ offer.description }}</p>
    </div>
  </div>

  <div id="actions" ion-fixed>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button class="btn" ion-button round outline>Message Seller</button>
        </ion-col>

        <ion-col>
          <button (click)="purchaseTapped()" tappable class="btn" ion-button round outline>Purchase ({{ priceToString(offer.price) }})</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>