<ion-header>
  <ion-navbar>
    <ion-title>Padl</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ais-instantsearch
    [config]="{
      apiKey: 'c178615a3c307c73ffba3547b02ddc27',
      appId: '5OCES8XKP1',
      indexName: 'dev_offers',
      urlSync: true
    }"
  >
    <ais-infinite-hits>
      <ng-template
        let-hits="hits"
        let-results="results"
        let-refine="showMore"
      >

      <ais-search-box placeholder="Search for items"></ais-search-box>

      <div *ngIf="hits.length === 0">
        No results found matching <strong>{{ results.query }}</strong>.
      </div>

      <div id="all-hits">
        <div class="hit-info-container" id="hit-{{ hit.offerId }}"
        *ngFor="let hit of hits" (click)="itemTapped($event, hit)">
          <div class="hit-info">
            <!-- <h1>
              <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
            </h1> -->
            <img src="{{ hit.pictures[0] }}" />

            <p class="hit-price">
              ${{ hit.price / 100 }}.{{ (hit.price % 100).toString().padStart(2, '0') }}
            </p>
          </div>
        </div>
      </div>

      <button (click)="refine($event)">Show more</button>

      </ng-template>
    </ais-infinite-hits>
  </ais-instantsearch>
</ion-content>
