<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ais-instantsearch
    [config]="{
      apiKey: 'c178615a3c307c73ffba3547b02ddc27',
      appId: '5OCES8XKP1',
      indexName: 'dev_offers',
      urlSync: true
    }"
  >
    <ais-search-box></ais-search-box>
    <ais-infinite-hits>
      <ng-template
        let-hits="hits"
        let-results="results"
        let-refine="showMore"
      >

      <div *ngIf="hits.length === 0">
        No results found matching <strong>{{results.query}}</strong>.
      </div>

      <div *ngFor="let hit of hits">
        <h1>
          <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
        </h1>

        <p>
          {{hit.price}}
        </p>
      </div>

      <button (click)="refine($event)">Show more</button>

      </ng-template>
    </ais-infinite-hits>
  </ais-instantsearch>
</ion-content>
